html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: rgb(245, 245, 245);
}
li {
    display: inline;
    align-items: flex-start;
    padding: 10px;
    font-size: 20px;
}
.con {
    padding: 12px;
    background-color: white;
    outline: black solid;
    justify-content: space-around;
}

.radioB {
    justify-content: space-around;
    display: inline;
}

.outls {
    border-right: black solid;
}
.fsiz {
    font-size: large;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}
