body {
    background-color: lightpink;
}
li {
    display: inline;
    align-items: flex-start;
    padding: 10px;
    font-size: 20px;
}
.con {
    background-color: white;
    outline: black 2px;
    justify-content: space-around;
}

.radioB {
    justify-content: space-around;
    display: inline;
}