body {
    background-color: lightpink;
}
li {
    display: inline;
    align-items: flex-start;
    padding: 10px;
    font-size: 20px;
}
.con {
    padding: 12px;
    background-color: white;
    outline: black solid;
    justify-content: space-around;
}

.radioB {
    justify-content: space-around;
    display: inline;
}

.outls {
    border-right: black solid;
}
.fsiz {
    font-size: large;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}